<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jakewharton.sdksearch"
    >
  <application>
    <activity android:name=".ui.MainActivity">
      <meta-data
          android:name="android.app.shortcuts"
          android:resource="@xml/shortcuts"
          />
    </activity>
    <activity
        android:name=".ui.OptionsActivity"
        android:label="Options"
        >
      <intent-filter>
        <category android:name="android.intent.category.LAUNCHER"/>
        <action android:name="android.intent.action.MAIN"/>
      </intent-filter>
    </activity>
  </application>
</manifest>
