<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jakewharton.sdksearch.debug.updater"
    >

  <uses-permission-sdk-23 android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

  <application>
    <activity
        android:name=".UpdateActivity"
        android:excludeFromRecents="true"
        android:taskAffinity=""
        android:theme="@android:style/Theme.NoDisplay"
        >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
      </intent-filter>
    </activity>

    <provider
        android:name="android.support.v4.content.FileProvider"
        android:authorities="com.jakewharton.sdksearch.updates"
        android:exported="false"
        android:grantUriPermissions="true"
        >
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/update_paths"
          />
    </provider>
  </application>
</manifest>
