<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jakewharton.sdksearch"
    >
  <application>
    <activity android:name=".ui.MainActivity">
      <meta-data
          android:name="android.app.shortcuts"
          android:resource="@xml/shortcuts"
          />
    </activity>
  </application>
</manifest>
