<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jakewharton.sdksearch"
    android:targetSandboxVersion="2"
    tools:targetApi="26"
    >
  <!--
  Sandbox version 2 is required for instant apps. Normally this is added by default by the instant
  plugin, but since we are creating the instant zip of our single APK manually, it must be
  explicitly specified.
  -->

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:name=".SdkSearchApplication"
      android:allowBackup="false"
      android:icon="@drawable/ic_launcher"
      android:label="@string/application_name"
      android:supportsRtl="true"
      android:theme="@style/Theme.SdkSearch"
      >
    <activity
        android:name=".ui.MainActivity"
        android:launchMode="singleInstance"
        >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="http" />
        <data
            android:scheme="https"
            android:host="sdksearch.app"
            android:pathPrefix="/"
            />
      </intent-filter>
    </activity>

  </application>
</manifest>
