<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jakewharton.sdksearch"
    >

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:name=".SdkSearchApplication"
      android:allowBackup="false"
      android:icon="@drawable/ic_launcher"
      android:label="@string/application_name"
      android:supportsRtl="true"
      android:theme="@style/Theme.SdkSearch"
      >
    <activity
        android:name=".ui.MainActivity"
        android:launchMode="singleInstance"
        >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data
            android:scheme="https"
            android:host="sdksearch.app"
            android:pathPrefix="/"
            />
      </intent-filter>
    </activity>

  </application>
</manifest>
